<div class="container new-message mt-5">
    <h1>New Message</h1>
    <form class="mt-3" ng-submit="submit()">
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" ng-model="title" required>
            </div>
        </div>

        <!-- <div class="alert alert-danger row" role="alert" ng-show="invalideMsg">
            <strong>Title Cannot be Null</strong> Please add title.
        </div> -->

        <div class="alert alert-danger row" role="alert" ng-show="invalideMsg">
            <strong>Title Cannot be Null </strong>
        </div>

        <!-- <div class="form-group row">
            <div class="col-sm-10">
                <label for="msgType" class="col-sm-2 col-form-label">Message Type</label>
                <input type="text" class="form-control" id="msgType" name="msgType" ng-model="msgType" value="Message">
            </div>
        </div> -->

        <div class="form-group row">
            <label for="desc" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="desc" ng-model="desc" rows="8" cols="40"> </textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="prio" class="col-sm-2 col-form-label">Priority</label>
            <div class="col-sm-10">
                <select class="form-control" id="prio" ng-model="prio" required>
                    <option value="1-Important">1-Important</option>
                    <option value="2-Info" selected="selected">2-Info</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">Upload File</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" ng-model="file" accept="image/*" multiple>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="button" value="Create" id="submit" class="btn btn-primary float-sm-left mr-5"
                    ng-click="createMessage(); valideMsg(); resetForm()">
                <input type="reset" value="Reset" class="btn btn-primary float-sm-left" />
            </div>
        </div>
    </form>

</div>