<hoa-navbar></hoa-navbar>

<main class="container">
    <h1 class="display-3">Issues</h1>
    <p class="text-center py-5" ng-show="messages.length === 0">There are no messages</p>
    <div ng-show="messages.length > 0">
        <input class="form-control my-3" placeholder="Filter Messages by Title or Description or Commemts or Created By"
            ng-model="filterBy">
        <table class="table">
            <tr>
                <th>#</th>
                <th ng-click="orderByProp('title')">Title
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'title', 'fa-sort-down' : orderProp === 'title' && !reverseOrder, 'fa-sort-up' : orderProp === 'title' && reverseOrder}"></i>
                </th>
                <th ng-click="orderByProp('prio')">Priority
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'prio', 'fa-sort-down' : orderProp === 'prio' && !reverseOrder, 'fa-sort-up' : orderProp === 'prio' && reverseOrder}"></i>
                </th>
                <th ng-click="orderByProp('issueStatus')">Status
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'issueStatus', 'fa-sort-down' : orderProp === 'issueStatus' && !reverseOrder, 'fa-sort-up' : orderProp === 'issueStatus' && reverseOrder}"></i>
                </th>
                <th ng-click="orderByProp('issueDueDate')">Due Date
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'issueDueDate', 'fa-sort-down' : orderProp === 'issueDueDate' && !reverseOrder, 'fa-sort-up' : orderProp === 'issueDueDate' && reverseOrder}"></i>
                </th>
            
                <th ng-click="orderByProp('createdBy')">Created By
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'createdBy', 'fa-sort-down' : orderProp === 'createdBy' && !reverseOrder, 'fa-sort-up' : orderProp === 'createdBy' && reverseOrder}"></i>
                </th>
                <th ng-click="orderByProp('createdAt')">Created At
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'createdAt', 'fa-sort-down' : orderProp === 'createdAt' && !reverseOrder, 'fa-sort-up' : orderProp === 'createdAt' && reverseOrder}"></i>
                </th>
            </tr>
            <tr ng-repeat="message in messages | filter : filterMsg | orderBy: orderProp : reverseOrder"
                ng-click="selectMsg(message)" ng-class="{'bg-secondary' : message === selectedMsg}"
                ng-dblclick="openMsg(message)">
                <td>{{$index + 1}}</td>
                <td>{{message.title}}</td>
                <td>{{message.prio}}</td>
                <td>{{message.issueStatus}}</td>
                <td>{{message.issueDueDate | date }}</td>
                <td>{{message.createdBy}}</td>
                <td>{{message.createdAt | date}}</td>
            </tr>
        </table>
        <button class="btn btn-primary float-sm-right" ng-click="addMsg()">Add New Issue</button>
    </div>
</main>


<div ng-show="showNewMsg">
    <new-message></new-message>
</div>