<hoa-navbar></hoa-navbar>

<main class="container">
    <h1 class="display-3">Tenantes</h1>
    <p class="text-center py-5" ng-show="users.length === 0">There are no Tenants</p>
    <div ng-show="users.length > 0">
        <input class="form-control my-3" placeholder="Filter Tenant Details by Name or email" ng-model="filterBy">
        <table class="table">
            <tr>
                <th>#</th>
                <th ng-click="orderByProp('fullName')">Name
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'fullName', 'fa-sort-down' : orderProp === 'fullName' && !reverseOrder, 'fa-sort-up' : orderProp === 'fullName' && reverseOrder}"></i>
                </th>
                <th ng-click="orderByProp('eMail')">eMail
                    <i class="fas"
                        ng-class="{'fa-sort' : orderProp != 'eMail', 'fa-sort-down' : orderProp === 'eMail' && !reverseOrder, 'fa-sort-up' : orderProp === 'eMail' && reverseOrder}"></i>
                </th>
                
                <th> Committee Member</th>
                <th> Telephone</th>
                <th> Floor No</th>
                <th> Apartment No</th>
            </tr>

            <tr ng-repeat="user in users | filter : filterUsr | orderBy: orderProp : reverseOrder"
                ng-click="selectUsr(user)" ng-class="{'bg-secondary' : user === selectedUsr}"
                ng-dblclick="openUsr(user)">
                <td>{{$index + 1}}</td>
                <td>{{user.fullName}}</td>
                <td>{{user.email}}</td>
                <td>{{user.isCommitteeMember? "Yes": "No"}}</td>
                <td>{{user.tel}}</td>
                <td>{{user.flrNo}}</td>
                <td>{{user.aptNo}}</td>

            </tr>
        </table>
        <!-- <button class="btn btn-primary float-sm-right" ng-click="addUsr()">Add New User</button> -->
                <button class="btn btn-primary float-sm-right">Add New User</button>

    </div>
</main>
<!-- 
<div ng-show="showNewUsr">
    <new-tenante> </new-tenant>
</div> -->